# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/

# Ignore log files
*.log

# Ignore dependency lock files (optional)
Pipfile.lock
poetry.lock

# Ignore IDE and editor settings
.vscode/
.idea/
